!!!
%html
  %head
    %title MarkdownExample
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .container-fluid
      - if flash[:notice]
        .alert.alert-success
          = notice
          %button{type: "button", class: "close", "data-dismiss" => "alert"}×
      - if flash[:alert]
        .alert.alert-error
          = alert
          %button{type: "button", class: "close", "data-dismiss" => "alert"}×
      .row-fluid
        .span12
          = yield